nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[alt='valorant logo'] {
    width: 40px;
    height: 40px;
}

.links {
    padding: 20px 0;
}

.link {
    font-size: 16px;
    margin-left: 10px;
}